

body {
      font-family: 'Open Sans', sans-serif;
      background-color: #2F4C58;
      margin : 0px;
      padding : 0px;
}

h1 {
      font-family: "Montserrat";
      color:white;
      font-size: 2.5rem;
      margin-left: 10%;
      margin-top: 5%;
}

p {
      font-family: "Roboto";
      color:white;
      margin-left: 10%;
      margin-right: 10%;
      line-height: 150%;

}
h3, h4, h2 {
      font-family: "Montserrat";
      color: white;
      margin-left: 10%;
      margin-right: 10%;
}
      
button{
      font-family: "Roboto";
      /* margin-left: -85%; */
      color: white;
      background-color: #2F4C58;
      padding: 10px;
      border-radius: 30px;
float: left;
}


.page-header {
      background-color: #E4DBD9;
      text-align: center;
      margin: 0px;
      top: 0px;

}

.logo {
      color: #2F4C58;
      margin-top: 1%;
      margin-bottom: 1%;


}


